<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="BaseUrl" value="https://api.xero.com/api.xro/2.0/"/>
    <add key="ConsumerKey" value="BHURMEMTQ5VSGRHM6WYNNOZVVUCIRL"/>
    <add key="ConsumerSecret" value="S6NYIYFKGTXFBSSXSPZPVEQOIDRMI5"/>
    <add key="SigningCertificate" value="D:\Documents\My Projects\Visual Studio 2010\Projects\Test_Automation\Test_Automation\Resources\cert\public_private_testkey.pfx"/>
    <add key="Password" value="qa1234"/>
  </appSettings>
</configuration>
